.places {
  max-width: 984px;
  display: grid;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 92px;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 80px;
}
@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-top: 88px;
    margin-bottom: 90px;
    grid-row-gap: 73px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin-top: 64px;
    margin-bottom: 66px;
    grid-row-gap: 50px;
  }
}