.lead {
  max-width: 984px;
  margin: auto;
  margin-top: 56px;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin-top: 48px;
  }
}