.footer__link-container {
  width: 100%;
}
@media screen and (max-width: 560px) {
  .footer__link-container {
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
    align-items: flex-start;
  }
}