.lead__title {
  max-width: 720px;
  margin: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 60px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 600px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
  }
}