.place__website-link {
  max-width: 456px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.22;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #ffffff;
}
.place__website-link:hover {
  opacity: 0.8;
}