.cover {
  max-width: 1184px;
  margin: auto;
  transition: opacity 0.6s;
}
@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 560px) {
  .cover {
    min-height: 300px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}